div.device_heading{
  margin-left: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(214, 85, 32, 1.0);;
  margin-right: 25px;
}
ul.device_list{
  padding: 20px;
  overflow: auto;
  height: calc(100vh - 136px);
}